{% extends "professor/base/base.html" %}

{% block title %} Lista de Alunos {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{{ alunos }}

<div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="d-flex justify-content-center">
                        <!--[ Recent Users ] start-->
                        <div class="col-xl-8 col-md-6">
                            <div class="card Recent-Users">
                                <div class="card-header">
                                    <h5>Lista de Alunos</h5>
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody>
                                                {% for aluno in alunos %}
                                                    <tr class="unread">
                                                        <td><img class="rounded-circle" style="width:40px;" src="/static/assets/images/user/avatar-1.jpg" alt="activity-user"></td>
                                                        <td>
                                                            <h6 class="mb-1">{{ aluno.nome.pnome }} {{ aluno.nome.snome }}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>{{ aluno.idade }} anos</h6>
                                                        </td>
                                                        <td>
                                                            <form action="/professor/coleta" method="POST">
                                                                {% csrf_token %}
                                                                <button class="btn btn-primary" type="submit" name="aluno" value="{{aluno}}" class="button store-button">Coletar Audio</button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                {% endfor%}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ Recent Users ] end-->


                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
