{% extends "professor/base/base.html" %}

{% block title %} Coleta {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="d-flex justify-content-center">
                    <!--[ Recent Users ] start-->
                    <div class="col-xl-10 col-md-6">
                        <div class="card Recent-Users">
                            <div class="card-header">
                                <h5>Desempenho de coleta de áudio</h5>
                                <p class="text-dark mb-1">Aluno</p>
                                <p>{{ aluno.nome }} {{ aluno.sobrenome }}</p>
                                <p class="text-dark mb-1">Professor</p>
                                <p>{{ professor.nome }} {{ professor.sobrenome }}</p>
                                {% for metric in metrics %}
                                    <tr class="unread">
                                        <p class="text-dark mb-1">Teste realizado em {{metric.data}}</p>
                                        {% for coleta in metric.coleta %}
                                            <p class="text-dark mb-1">Coleta {{coleta.metrica}}</p>
                                        {% endfor%}
                                {% endfor%}
                            </div>
                        </div>
                    </div>
                    <!--[ Recent Users ] end-->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}