{% extends "professor/base/base.html" %}

{% block title %} Coleta {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="d-flex justify-content-center">
                    <!--[ Recent Users ] start-->
                    <div class="col-xl-10 col-md-6">
                        <div class="card Recent-Users">
                            <div class="card-header">
                                <h5>Coleta de Audio</h5>
                                <p class="text-dark mb-1">Aluno</p>
                                <p>{{ aluno.nome }} {{ aluno.sobrenome }}</p>
                                <p class="text-dark mb-1">Professor</p>
                                <p>{{ professor.nome }} {{ professor.sobrenome }}</p>
                            </div>
                            <div id="msg"></div>

                            <div class="card-block px-0 py-3">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr class="unread">
                                                <td>
                                                    <h6 class="mb-1">Frase Simples</h6>
                                                    <p class="m-0">{{ frases.tipo_1.frase }}</p>
                                                </td>
                                                <td>
                                                    <div class="d-grid gap-3">
                                                        <button id="record1" class="btn btn-primary center">
                                                            <div class="i-block" data-clipboard-text="feather icon-play" data-filter="icon-play" data-toggle="tooltip" title="" data-original-title="Iniciar Gravação" style=""><i class="feather icon-play"></i></div>
                                                        </button>
                                                        <button id="stop1" class="btn btn-danger" disabled>
                                                            <div class="i-block" data-clipboard-text="feather icon-stop-circle" data-filter="icon-stop-circle" data-toggle="tooltip" title="" data-original-title="Parar Gravação" style=""><i class="feather icon-stop-circle"></i></div>
                                                        </button>
                                                        <select class="btn btn-secondary dropdown-toggle dropdown-toggle-split" name="" id="micSelect1"></select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div><audio controls autoplay playsinline id="audio1" ></audio></div>
                                                </td>
                                            </tr>
                                            <tr class="unread">
                                                <td>
                                                    <h6 class="mb-1">Frase Complexas</h6>
                                                    <p class="m-0">{{ frases.tipo_2.frase }}</p>
                                                </td>
                                                <td>
                                                    <div class="d-grid gap-3">
                                                        <button id="record2" class="btn btn-primary center">
                                                            <div class="i-block" data-clipboard-text="feather icon-play" data-filter="icon-play" data-toggle="tooltip" title="" data-original-title="Iniciar Gravação" style=""><i class="feather icon-play"></i></div>
                                                        </button>
                                                        <button id="stop2" class="btn btn-danger" disabled>
                                                            <div class="i-block" data-clipboard-text="feather icon-stop-circle" data-filter="icon-stop-circle" data-toggle="tooltip" title="" data-original-title="Parar Gravação" style=""><i class="feather icon-stop-circle"></i></div>
                                                        </button>
                                                        <select class="btn btn-secondary dropdown-toggle dropdown-toggle-split" name="" id="micSelect2"></select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div><audio controls autoplay playsinline id="audio2" ></audio></div>
                                                </td>
                                            </tr>
                                            <tr class="unread">
                                                <td>
                                                    <h6 class="mb-1">Pseudo Palavras</h6>
                                                    <p class="m-0">{{ frases.tipo_3.frase }}</p>
                                                </td>
                                                <td>
                                                    <div class="d-grid gap-3">
                                                        <button id="record3" class="btn btn-primary center">
                                                            <div class="i-block" data-clipboard-text="feather icon-play" data-filter="icon-play" data-toggle="tooltip" title="" data-original-title="Iniciar Gravação" style=""><i class="feather icon-play"></i></div>
                                                        </button>
                                                        <button id="stop3" class="btn btn-danger" disabled>
                                                            <div class="i-block" data-clipboard-text="feather icon-stop-circle" data-filter="icon-stop-circle" data-toggle="tooltip" title="" data-original-title="Parar Gravação" style=""><i class="feather icon-stop-circle"></i></div>
                                                        </button>
                                                        <select class="btn btn-secondary dropdown-toggle dropdown-toggle-split" name="" id="micSelect3"></select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div><audio controls autoplay playsinline id="audio3" ></audio></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="d-flex justify-content-center">
                                        <form role="form" action="/professor/submit_audios" method="post">
                                            {% csrf_token %}
                                            <button name="audios" class="btn btn-primary shadow-2 mb-4">Submeter Audios</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ Recent Users ] end-->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

<script src='/static/assets/js/Audio.js' ></script>
<script src="/static/assets/js/audioRecord.js"></script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}