
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a target=""
                   href="" class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-trending-up"></i>
                    </div>
                    <span class="b-title">Página do Professor</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navegação</label>
                    </li>

                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                        class="nav-item {% if 'info' in segment %} active {% endif %}">
                        <a href="/professor/info" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-info"></i>
                            </span>
                            <span class="pcoded-mtext">Informações</span>
                        </a>
                    </li>

                    <li class="nav-item pcoded-menu-caption">
                        <label>Análise de Fluência</label>
                    </li>

                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                        class="nav-item {% if 'banco_frases' in segment %} active {% endif %}">
                        <a href="/professor/banco_frases" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i>
                            </span>
                            <span class="pcoded-mtext">Banco de Frases</span>
                        </a>
                    </li>

                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                        class="nav-item {% if 'turmas' in segment %} active {% endif %}">
                        <a href="/professor/turmas" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i>
                            </span>
                            <span class="pcoded-mtext">Turmas</span>
                        </a>
                    </li>

                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                        class="nav-item {% if 'login' in segment %} active {% endif %}">
                        <a href="/professor/login" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-power"></i>
                            </span>
                            <span class="pcoded-mtext">Sair</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
