{% extends "gestor/base/base.html" %}

{% block title %} Escolas {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="col-xl-8 col-md-12 m-b-30" style="margin: 0 auto;margin-top: 20px;display: flex;flex-direction: column;justify-content: center;align-content: center;">
    <h3 class="m-b-10" style="margin-bottom: 70px;text-align: center;">Escola {{escola.nome}}</h3>
    <section>
        <p>Codigo INEP: {{escola.codigo_inep}}</p>
        <p>UF: {{escola.uf}}</p>
        <p>Município: {{escola.municipio}}</p>
        <p>CEP: {{escola.cep}}</p>
    </section>



</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
