{% extends "gestor/base/base.html" %}

{% block title %} Escolas {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="col-xl-8 col-md-12 m-b-30" style="margin: 0 auto;margin-top: 20px;display: flex;flex-direction: column;justify-content: center;align-content: center;">
    <h3 class="m-b-10" style="margin-bottom: 70px;text-align: center;">Escolas | Detalhamento por classificação</h3>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active show" id="federal-tab" data-toggle="tab" href="#federal" role="tab" aria-controls="federal" aria-selected="true">Federal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="estadual-tab" data-toggle="tab" href="#estadual" role="tab" aria-controls="estadual" aria-selected="true">Estadual</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="municipal-tab" data-toggle="tab" href="#municipal" role="tab" aria-controls="municipal" aria-selected="true">Municipal</a>
        </li>
        <li class="nav-item" style="background-color: #3D5482;border-top-left-radius: 10px;border-top-right-radius: 10px;">
            <a class="nav-link" id="todas-tab" data-toggle="tab" href="#todas" role="tab" aria-controls="todas" aria-selected="true">Todas</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent" style="border-radius: 20px;border-top-left-radius: 0px;">
        <div class="tab-pane fade" id="federal" role="tabpanel" aria-labelledby="federal-tab">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Escola</th>
                        <th>UF</th>
                        <th>Município</th>
                        <th class="text-right"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for escola_federal in escolas_federais %}
                        <tr>
                            <td>
                                <h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;" src="../../../static/assets/images/icons/escola.jpg" alt="activity-user">{{escola_federal.nome}}</h6>
                            </td>
                            <td>
                                <h6 class="m-0">{{escola_federal.uf}}</h6>
                            </td>
                            <td>
                                <h6 class="m-0">{{escola_federal.municipio}}</h6>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="tab-pane fade active show" id="estadual" role="tabpanel" aria-labelledby="estadual-tab">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Escola</th>
                        <th>UF</th>
                        <th>Município</th>
                        <th class="text-right"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for escola_estadual in escolas_estaduais %}
                        <tr>
                            <td>
                                <h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;" src="../../../static/assets/images/icons/escola.jpg" alt="activity-user">{{escola_estadual.nome}}</h6>
                            </td>
                            <td>
                                <h6 class="m-0">{{escola_estadual.uf}}</h6>
                            </td>
                            <td>
                                <h6 class="m-0">{{escola_estadual.municipio}}</h6>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="tab-pane fade" id="municipal" role="tabpanel" aria-labelledby="municipal-tab">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Escola</th>
                        <th>UF</th>
                        <th>Município</th>
                        <th class="text-right"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for escola_municipal in escolas_municipais %}
                        <tr>
                            <td>
                                <h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;" src="../../../static/assets/images/icons/escola.jpg" alt="activity-user">{{escola_municipal.nome}}</h6>
                            </td>
                            <td>
                                <h6 class="m-0">{{escola_municipal.uf}}</h6>
                            </td>
                            <td>
                                <h6 class="m-0">{{escola_municipal.municipio}}</h6>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="todas" role="tabpanel" aria-labelledby="todas-tab">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Escola</th>
                        <th>UF</th>
                        <th>Município</th>
                        <th>Classificação</th>
                        <th class="text-right"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for escola in escolas %}
                        <tr>
                            <td>
                                <h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;" src="../../../static/assets/images/icons/escola.jpg" alt="activity-user">{{escola.nome}}</h6>
                            </td>
                            <td>
                                <h6 class="m-0">{{escola.uf}}</h6>
                            </td>
                            <td>
                                <h6 class="m-0">{{escola.municipio}}</h6>
                            </td>
                            {% if escola.depen_admin == 1 %}
                                <td><p>Federal</p></td>
                            {% elif escola.depen_admin == 2 %}
                                <td><p>Estadual</p></td>
                            {% elif escola.depen_admin == 3 %}
                                <td><p>Municipal</p></td>
                            {% else %}
                                <td><p class="text-dark mb-1">Não Classificado</p></td>
                            {% endif %}
                            <td>
                                <form action="/gestor/escola_individual" method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-primary" type="submit" name="id" value="{{escola.id}}" class="button store-button" style="font-size: 12px;">Visualizar</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <form style="text-align: center; margin-top: 40px;" action="/gestor/cadastro_escolas" method="POST">
        {% csrf_token %}
        <button style="background-color: #3D5482; border: none;" class="btn btn-primary" type="submit" name="id_turma" value="1" class="button store-button">Cadastrar Nova Escola</button>
    </form>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
