{% extends "gestor/base/base.html" %}

{% block title %} Resumo Coletas {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-alfa2-bd-ufyhm/embed/charts?id=62927643-df81-496c-8051-6ee49b1ec929&maxDataAge=3600&theme=dark&autoRefresh=true%22%3E"</iframe>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
